### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
name_counts = purchase_data["SN"].value_counts()
total_players = pd.DataFrame({"total players": [len(name_counts)]})
total_players

   total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_id = purchase_data["Item ID"].value_counts()
item_number = len(item_id)
average_price = f'${round(purchase_data["Price"].mean(),2)}'
purchases_number = len(purchase_data["Item ID"])
total_revenue = f'${purchase_data["Price"].sum()}'
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[item_number],"Average Price":[average_price],
                                    "Number of Purchases":[purchases_number],"Total Revenue":[total_revenue]})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_df = purchase_data[["Gender","SN"]]
gender_groupby_df = gender_df.groupby("Gender")
uniques_df = gender_groupby_df.nunique("Gender")
gender_demo_df = uniques_df.rename(columns={"SN": "Total Count"})
total_players = len(purchase_data["SN"].value_counts())
percentage_of_players = gender_demo_df["Total Count"]/total_players
gender_demo_df["Percentage of Players"] = percentage_of_players
del gender_demo_df["Gender"]
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].astype(float).map("{:.2%}".format)
gender_demo_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
gender_df = purchase_data[["Gender","SN"]]
gender_purchase_df = gender_df.groupby("Gender")
purchase_count_df = gender_purchase_df.count()
purchase_count_df = purchase_count_df.rename(columns={"SN": "Purchase Count"})

gender_df = purchase_data[["Gender","Price"]]
gender_price_df = gender_df.groupby("Gender")
price_avg_df = gender_price_df.mean()
purchase_count_df["Average Purchase Price"] = price_avg_df


total_purchase_group_df = gender_price_df.sum()
purchase_count_df["Total Purchase Value"] = total_purchase_group_df


person_gender_df = pd.DataFrame(gender_demo_df["Total Count"])
person_gender_df["Total Purchase"]=total_purchase_group_df

avg_purchase_person_df = round(person_gender_df["Total Purchase"]/person_gender_df["Total Count"],2)
purchase_count_df["Average Total Purchase per Person"] = avg_purchase_person_df

purchase_count_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Average Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
bins = [0,9,14,19,24,29,34,39,50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]
purchase_data["Age range"]=pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data
Age_groupby_df = purchase_data.groupby("Age range")
uniques_df = Age_groupby_df.nunique("Age range")
age_demo_df = uniques_df["SN"]
age_demo_df = pd.DataFrame(age_demo_df)
age_demo_df = age_demo_df.rename(columns={"SN": "Total Count"})
age_demo_df
total_players = len(purchase_data["SN"].value_counts())
percentage_of_players = age_demo_df["Total Count"]/total_players
age_demo_df["Percentage of Players"] = percentage_of_players
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].astype(float).map("{:.2%}".format)

age_demo_df.index.name = None
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
bins = [0,9,14,19,24,29,34,39,50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]
purchase_data["Age range"]=pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data
Age_groupby_df = purchase_data.groupby("Age range")
uniques_df = Age_groupby_df.nunique("Age range")
age_purchase_df = uniques_df["Purchase ID"]
age_purchase_df = pd.DataFrame(age_purchase_df)
age_purchase_df = age_purchase_df.rename(columns={"Purchase ID": "Purchase Count"})
age_pur_df =age_purchase_df

age_price_df = purchase_data.groupby("Age range")
age_avg_price_df = age_price_df.mean()
age_avg_price_df = age_avg_price_df["Price"]
age_pur_df["Average Purchase Price"] = age_avg_price_df

total_purchase_df = purchase_data.groupby("Age range")
age_total_purchase_df = total_purchase_df.sum()
age_total_purchase_df = age_total_purchase_df["Price"]
age_pur_df["Total Purchase Value"] = age_total_purchase_df
age_pur_df

avg_age_purchase_df = age_pur_df["Total Purchase Value"]/age_demo_df["Total Count"]
age_pur_df["Average Total Purchase per Person"] = avg_age_purchase_df

age_pur_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
SN_groupby = purchase_data.groupby("SN")

purchase_count = SN_groupby["Purchase ID"].count()

avg_purchase_price = SN_groupby["Price"].mean()

purchase_total = SN_groupby["Price"].sum()

spenders = pd.DataFrame({"Purchase Count": purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value":purchase_total})

top_spenders = spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
itemID_itemName = purchase_data.groupby(["Item ID","Item Name"])
item_pur_count = itemID_itemName["Purchase ID"].count()

total_pur = itemID_itemName["Price"].sum()
total_pur

item_price = total_pur/item_pur_count
item_price

popular_items = pd.DataFrame({"Purchase Count": item_pur_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":total_pur})

most_popular_items = popular_items.sort_values(["Purchase Count"], ascending=False).head()

most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
most_profitable_items = popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

most_profitable_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})